/* topbar styling */
.erptopbar .navbar-nav > .active{
    color: #e1e1ff;
    background:#53687e;
}
.erptopbar .navbar-nav > .active > a,
.erptopbar .navbar-nav > .active > a:hover,
.erptopbar .navbar-nav > .active > a:focus {
  color: #e1e1ff;
  background:#53687e;
}
.erptopbar .navbar-nav > li
{

  height:50px;

}



/* end of top bar style  */
/* sidebar styling */
.erpsidebar .navbar-nav > .active{
  color: #53687e;
  background: #e1e1ff;
}
.erpsidebar .navbar-nav > .active > a,
.erpsidebar .navbar-nav > .active > a:hover,
.erpsidebar .navbar-nav > .active > a:focus {
    color: #53687e !important;
    background: #e1e1ff !important;
}


.schemecolor1bg
{
  background-color:#e1e1ff !important;
}
.schemecolor2bg
{
  background-color:#3a4454 !important;
}
.schemecolor3bg
{
  background-color:#53687e !important;
}
.schemecolor1fg
{
  color:#e1e1ff !important;
}
.schemecolor2fg
{
  color:#3a4454 !important;
}
.schemecolor3fg
{
  color:#53687e !important;
}
.sidebarlink:hover
{
  background-color:#e1e1ff !important;
  color:#3a4454 !important;
}
